body{
   font-size: 16px;
   margin: 0 auto;
   padding: 0;
   font-family: Raleway, sans-serif;
   line-height: normal;
   background-image: linear-gradient(
      to bottom left, #30c226b0,rgba(128, 128, 128, 0.637), #24981cb0
   );
   margin: auto;
}

header, footer {
   max-width: 1000px;
   margin: 0 auto;
   padding: 1rem;
   background-color: #00b7ff52;
   align-items: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

header{
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


main{
   margin: auto;
   padding: 1rem;
   background-color: #00b7ff52;
   grid-gap: 10px;
   height: auto;
   justify-items: center;
   max-width: 1000px;
}

a:link {
   color: rgb(4, 0, 255);
}

a:visited {
   color: rgb(0, 238, 255);
}

h1, h2, h3, h4, h5, h6 {font-family: Nunito, sans-serif;
font-size: 24px;}

/* Class Selectors */

.content {
   margin: auto;
}

.logo{
   width: 100px;
   height: auto;
   text-align: center;
   background-image: linear-gradient(
      to bottom right, #00b7ff36, #24981c38
   );
   border-radius: 10px;
}

.page{
   max-width: 1000px;
   margin: auto;
}

div.links{
   display: table;
   width: 100%;
   table-layout: fixed;    /* For cells of equal size */
}

div.links span {
   display: table-cell;
   text-align: center;
}

div.social{
   width: 100%;
   grid-column: 5/6;
}

p.legal {
   width: 100%;
   grid-column: 1/4;
}

nav {
   grid-column: 4/7;
}

.navigation {
   list-style: none;
   display: flex;
   text-align: center;
}

.navigation li {
   flex: 1 1 auto;
}

.navigation a {
   display: block;
   text-decoration: none;
   border: 1px solid#444;
   padding: 10px;
}

.hero {
   width: 100%;
   height: auto;
   grid-column: 1/3;
   grid-row: 1/2;
}

.itemimage, .itemimage2 {
   width: 300px;
   height: auto;
   box-shadow: 2px 2px 10px rgb(59, 63, 104);
}

.itemimage {
   grid-column: 1/2;
   grid-row: 2/3;
}

.itemimage2 {
   grid-column: 2/3;
   grid-row: 1/2;
}

.one {
   width: 300px;
   height: 100px;
   grid-column: 1/2;
   grid-row: 1/2;
}

.two {
   width: 400px;
   height: 100px;
   grid-column: 2/3;
   grid-row: 2/3;
   display: inline;
}

.three {
   width: 800px;
   height: 200px;
   grid-column: 1/3;
   grid-row: 3/4;
   display: inline;
   zoom: 1; 
   width: 80%;
   text-align: center;
}

button.CTA {
   float: left;
   position: absolute;
   left: 45%;
   top: 50%;
}

.Banner {
   position: relative;
}

.items {
   display: grid;
   margin: 15px;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 40px;
   justify-items: center;
}

h1.company {
   grid-column: 2/4;
}

button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #207e69 43.89%, #083a17 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  width: 15rem;
}

button:hover {
  box-shadow: rgb(75, 205, 63) 0 1px 30px;
  transition-duration: .1s;
}

.page h2{
   background-image: linear-gradient(92.88deg, #45b545 9.16%, #207e69 43.89%, #083a17 64.72%);
   color: white;
   border-radius: 10px;
   width: auto;
   height: 2rem;
   padding: 1rem;
}

/* FAQ */
  /* Accordian */

  /* body.faq {
   box-sizing: border-box;
} */

h2.title {
   margin-top: 50px;
   font-size: xx-large;
   margin-bottom: -80px;
   margin-left: 30px;
}

section.faq {
   width: 100%;
   height: 100%; 
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 100px;
}

.container {
   width: 100%;
   max-width: 80rem;
   margin: 0 auto;
   padding: 0 1.5rem;
}

.accordian-item {
   background-color: #1e7c188f;
   border-radius: .4rem;
   margin-bottom: 1rem;
   padding: 1rem;
   box-shadow: .5rem 2px .5rem rgba(0,0,0,.5);
}

.accordian-link {
   font-size: 1.6rem;
   color: rgba(225, 225, 255, .8);
   text-decoration: none;
   background-color: #283042;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 0;
}

.accordian-link ion-icon{
   color: #e7d5ff;
   padding: .5rem;
}

ion-icon.remove{
   display: none;
}

.answer {
   max-height: 0;
   overflow: hidden;
   position: relative;
   background-color: #335199;
   transition: max-height 850ms;
}

.answer::before {
   content: "";
   position: absolute;
   width: .6rem;
   height: 100%;
   background-color: #ffffff;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
}

.answer p{
   color: rgba(255, 255, 255, .6);
   font-size: 1.4rem;
   padding: 2rem;
}

.accordian-item:target .answer{
   max-height: 40rem;
}

.accordian-item:target .accordian-link ion-icon.remove{
   display: block;
}

.accordian-item:target .accordian-link ion-icon.add{
   display: none;
}

/* Blog */
 
 /* Fake image */
 .shortimg {
   background-color: rgb(0, 0, 0);
   width: 100%;
   height: 125px;
   border-radius: 10px;
   border: 5px solid #555;
 }

 .longimg {
   background-color: rgb(0, 0, 0);
   width: 100%;
   height: 300px;
   border-radius: 10px;
   border: 5px solid #555;
 }

 
 /* Add a card effect for articles */
 .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8{
   padding: 20px;
   margin: 20px;
   width: 80%;
   box-shadow: 5px 5px rgb(70, 70, 70);
   border-radius: 10px;
   background-image: linear-gradient(
      to bottom right, #00B7ff, #25981c
   );
 }

 .card1 {
    grid-column: 1/2;
    grid-row: 1/3;
 }

 .card2 {
    grid-column: 1/2;
    grid-row: 3/5;
 }

 .card3 {
   grid-column: 1/2;
   grid-row: 5/7;
 }
 
 .card4 {
   grid-column: 3/4;
   grid-row: 1/3;
 }

 .card5 {
   grid-column: 3/4;
   grid-row: 3/5;
 }
 
 .card6 {
   grid-column: 3/4;
   grid-row: 5/7;
 }

 .card7 {
   grid-column: 2/3;
   grid-row: 1/4;
 }
 
 .card8 {
   grid-column: 2/3;
   grid-row: 4/7;
 }


 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

 .row {
   max-width: 1000px;
   max-height: 1500px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: repeat(6,1fr);
   margin: auto;
 }

 .row h5 {
    font-size: smaller;
    margin: auto;
 }

 .row h2 {
   margin: auto;
}

