body{
   font-size: 16px;
   margin: 0 auto;
   padding: 0;
   font-family: Raleway, sans-serif;
}

header, footer {
   margin: 0 auto;
   /*border: ;*/
   padding: 1rem;
   background-color: #FFFFC7;
   display: grid;
   justify-content: center;
}

header{
   grid-template-columns: 110px 1fr;
   align-items: center;
}


main{
   margin: 1rem;
   background-color: #00B7ff;
}

a:link {
   color: red;
}

h1, h2, h3, h4, h5, h6 {font-family: Nunito, sans-serif;}

/* Class Selectors */
.logo{
   width: 80px;
   height: auto;
}

.page{
   max-width: 760px;
   margin: 1rem;
}

div.links{
   display: table;
   width: 100%;
   table-layout: fixed;    /* For cells of equal size */
}

div.links span {
   display: table-cell;
   text-align: center;
}

div.social{
   display: table;
   width: 100%;
}

div.links span {
   display: table-cell;
   justify-content: right;
}

.hero {
   width: 760px;
   height: auto;
}