body{
   font-size: 16px;
   margin: 0 auto;
   padding: 0;
   font-family: Raleway, sans-serif;
   line-height: normal;
}

header, footer {
   margin: 0 auto;
   padding: 1rem;
   background-color: #FFFFC7;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   justify-content: center;
}

header{
   grid-template-columns: 110px 1fr;
   align-items: center;
}


main{
   margin: 1rem;
   background-color: #00B7ff;
   display: grid;
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-gap: 10px;
   height: 1200px;
   justify-items: center;
}

a:link {
   color: red;
}

h1, h2, h3, h4, h5, h6 {font-family: Nunito, sans-serif;
font-size: 24px;}

/* Class Selectors */
.logo{
   width: 80px;
   height: auto;
}

.page{
   max-width: 760px;
   margin: 1rem;
}

div.links{
   display: table;
   width: 100%;
   table-layout: fixed;    /* For cells of equal size */
}

div.links span {
   display: table-cell;
   text-align: center;
}

div.social{
   display: table;
   width: 100%;
}

div.links span {
   display: table-cell;
   justify-content: right;
}

.hero {
   width: 728px;
   height: auto;
   grid-column: 1/3;
   grid-row: 1/2;
}

.itemimage {
   width: 300px;
   height: auto;
   box-shadow: 2px 2px 10px rgb(59, 63, 104);
}

.one {
   width: 200px;
   height: 200px;
   grid-column: 1/3;
   grid-row: 2/3;
}

.two {
   width: 200px;
   height: 200px;
   grid-column: 1/2;
   grid-row: 3/4;
}

.three {
   width: 200px;
   height: 200px;
   grid-column: 1/2;
   grid-row: 4/5;
}

.CTA {
   float: center;
   grid-row: 1/2;
   grid-column: 1/3;
}