body{
   font-size: 16px;
   margin: 0 auto;
}

header, footer {
   margin: 0 auto;
   /*border: ;*/
   padding: 1rem;
   background-color: #FFFFC7;
   display: grid;
   align-items: center;
   justify-content: center;
}

header{
   grid-template-columns: 110px 1fr;
}

footer{
   grid-template-columns: 300px 1fr;
}

main{
   margin: 0 auto;
   background-color: #00B7ff;
}


h1{
   /*color: #FFFFC7;*/

}

/* Class Selectors */
.logo{
   width: 80px;
   height: auto;
}

.page{
   max-width: 760px;
   margin: 0 auto;
}

div.demo {
   display: table;
   width: 100%;
   table-layout: fixed;    /* For cells of equal size */
}
div.demo span {
   display: table-cell;
   text-align: center;
}