


@font-face {
   font-family: 'Elianto';
   src: url('/Final/Fonts/Elianto-Regular.otf')  format("opentype"), url('/Final/Fonts/Elianto-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

body {
   font-family: Elianto;
   /* background-image:
    linear-gradient(
      to bottom right, 
      #570f7c, 
      #25981c
    ); */
}

/* Custom */
.purple {
   background-color: #570f7c;
   width: 200px;
   height: 200px;
}

.green {
   background-color: #25981c;
   width: 200px;
   height: 200px;
}

/* nav {
   display: flex;
   justify-content: space-around;
} */

.logo {
   height: 100px;
   width: auto;
}

header {
   display: table;
   grid-template-columns: 1rem,1rem,1rem,1rem;
}

.topnav {
   overflow: hidden;
   background-color: #333;
   float: left;
   grid-column: 4/5;
 }
 
 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 .topnav a:hover {
   background-color: rgb(158, 0, 150);
   color: rgb(0, 0, 0);
 }
 
 .topnav a:target {
   background-color: #04AA6D;
   color: rgb(204, 0, 255);
 }
 
 .topnav-right {
   float: right;
 }